body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; /* Semi-Bold */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}
