body {
    font-family: Jost;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

nav.navbar {
    background-color: #333;
    margin: 0;
    padding: 0;
    
}

nav.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.navbar ul li {
    float: left;
}

nav.navbar ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav.navbar ul li a:hover {
    background-color: #111;
}

div.content {
    padding-left: 20px; /* Adjust the value as needed */
    padding-right: 20px; /* Adjust the value as needed */
}
